@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eae0d5;
}

.board {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 2.2rem;
    animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
    border: 2px solid #6d6875;
}

.result-board {
    position: absolute;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 300px;
    background: #56ab91;
    border: 1px solid #000;
    animation: showResult 500ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
}

.result-text {
    font-family: 'Alkatra', cursive;
    font-size: 40px;
}

.buttons button {
    width: 170px;
    padding: 15px 28px;
    margin-right: 30px;
    border-radius: 20px;
    font-size: 20px;
    background: #99e2b4;
    font-family: 'Roboto Slab', serif;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.5), inset 3px 3px 4px 0px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border: none;
}

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home button {
    width: 250px;
    height: 70px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    background: #252422;
    color: #fff;
    box-shadow: 20px 20px 25px 0px rgba(0, 0, 0, 0.5), inset 4px 4px 6px 0px rgba(255, 255, 255, 0.5), inset -4px -4px 6px 0px rgba(0, 0, 0, 0.7);
    border: none;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
}

.home button:hover {
    transform: scale(1.1);
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes showResult {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}